
body, html {
    height: 100%;
    margin: 0;
    background-image: url(img/Screenshot_20240515-160048.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    color: white;
    position: relative;
    font-family: cursive;
}

.logo-img{
    width: 60px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

ul, li{
    margin-left: 290px;
    margin-top: 25px;
    display: flex;
    list-style: none;
    font-size: 20px;
    justify-content: space-between;
}

button{
    position: absolute;
    right: 5%;
    border-color: white;
    color: white;
    background-color: transparent;
    margin-top: 35px;
    padding: 5px 10px;
    font-size: 20px;
    font-family: cursive;
}

h1 {
    position: fixed;
    top: 23%;
    margin-left: 20px;
    font-size: 20px;
}

.content{
    position: fixed;
    top: 27%;
    margin-left: 20px;
    font-size: 20px;
    text-justify: distribute-all-lines;
}