
body, html {
    height: 100%;
    margin: 0;
    background-image: url(img/Screenshot_20240515-160110.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    color: white;
    position: relative;
    font-family: Lucida Sans Unicode;
}

.logo-img{
    width: 60px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

ul, li{
    margin-left: 290px;
    margin-top: 5px;
    display: flex;
    list-style: none;
    font-size: 22px;
    justify-content: space-between;
}

button{
    position: absolute;
    right: 5%;
    border-color: white;
    color: white;
    background-color: transparent;
    margin-top: 35px;
    padding: 5px 10px;
    font-size: 20px;
}

h1 {
    margin-left: 5%;
    top: 22%;
    font-size: 25px;
}
.content{
    position: fixed;
    top: 27%;
    margin-left: 5%;
    font-size: 21px;
}

