body, html {
    height: 100%;
    margin: 0;
}


.bgimg{
    background-image: url(img/andrew-coelho-aL7SA1ASVdQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    color: white;
    position: relative;
    font-size: 25px;
    font-family: cursive;

}

/*.topleft{
    position: absolute;
    top: 0;
    left: 16px;
}*/

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
hr{
    margin: auto;
    width: 40%;
}

.Navbar{
    width: 100%;
    display: flex;
}

.Navbar{
    margin-left: 20px;
}

ul{
margin-left: 50%;
display: flex;
width: 400px;
justify-content: space-between;
list-style: none;
}

li{
    cursor: pointer;
}

li:hover{
    color: limegreen;
    transition: 3ms;
}

img{
    height: 100px;
}

button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: limegreen;
    margin-left: auto;
    font-family: cursive;
    color: white;
    cursor: pointer;
    
}

button:hover{
    color: white;
    transition: 3ms;
}
