
body, html {
    height: 100%;
    margin: 0;
}

.bgimg{
    background-image: url(img/1713785632509.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    color: white;
    position: relative;
    font-size: 25px;
    
}
.topLeft{
    position: absolute;
    top: 0;
    left: 16px;
}

.logoImg{
    width: 100px;
}

.Navbar{
    position: absolute;
    display: flex;
    top: 0;
    right: 35%;

}

ul{
    display: flex;
    list-style: none;
    text-align: center;
    font-size: 15px;
    }
    
    li{
        padding: 22px;
    }
    
   .signUp{
    position: absolute;
    right: 5%;
    border-color: white;
    color: white;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 10px;
    margin-top: 40px;
   }

   .middle{
    position: fixed;
    top: 48%;
    margin-left: 5%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   }

   .seeMore{
    color: rgb(13, 12, 12);
    background-color: white;
    padding: 10px 20px;
    font-size: 19px;
    width: 30%;
    margin-top: 50px;
    border: none;
   }


   /* For smartphones */
   
   @media (max-width: 767px) {

    /* Mobile-specific CSS here */
   }
    
   